<br />
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#purchaseModal">Purchase</a>
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="authform">
	    <%= form_for(User.new, :url => {:controller=>'registrations', :action => 'pay'}, :html => { :role => 'form'}) do |f| %>
	      <h3>Sign Up &amp; Purchase</h3>

			<div class="form-group">
		        <%= f.text_field :name, class: 'form-control', :placeholder => "John Doe" %>
		      </div>
		      <div class="form-group">
		        <%= f.text_field :street, class: 'form-control', :placeholder => "Street Address" %>
		      </div>
			<div class="form-inline">
		        <%= f.text_field :postal_code, class: 'form-control', :style => "width:95px;", :placeholder => "Post Code" %>
		        <%= f.text_field :city, class: 'form-control', :style => "width:230px;", :placeholder => "City" %>
		      </div></br>
			<div class="form-group">
		        <% default = case I18n.locale.to_s  %>
				<%	when 'en' then 'United States' %>
				<%	when 'fr' then 'France' %>
				<%	else 'United States' %>
				<%	end %>
				<%= f.select :country, User::COUNTRIES, :selected => "#{default}" %>
		      </div>


		      <div class="form-group">
	        <%= f.email_field :email, :autofocus => true, class: 'form-control', :placeholder => "Email" %>
	      </div>
	      <div class="form-group">

	        <%= f.password_field :password, class: 'form-control', :placeholder => "Password" %>
	      </div>
	      <div class="form-group">
	        <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "Password confirmation" %>
	      </div>
		  <%= recaptcha_tags :public_key => Figaro.env.recaptcha_public_key %>
	      <%= f.submit '1. Sign up', :class => 'button left' %>
	      <%= f.submit '2. Pay', :class => 'button' , :disabled => 'disabled' %>
	    <% end %>
	  </div>
      </div>
    </div>
  </div>
</div>
