<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
	<h3>Welcome</h3>
    <h4>You purchased : <%= Product.find_by_id(current_user.product_id).title if current_user.product_id %></h4>
	<p>Email: <%= current_user.email if current_user.email %></p>
	<p></p></br>
	
	<% if current_user.product_id %>
	<% @product= Product.find_by_id(current_user.product_id) %>
	<div class="container-fluid">
		<div class="row" >
			<div class="col-md-12" >
				<div class="col-md-3" >
		<span><%= image_tag @product.avatar.url(:original, false), style: "float:left;" %></span></br>
		<!--<%= link_to "Download to Browser", @product.avatar.url(:original, false),:class => 'btn btn-success btn-large' %>-->
		<% if !@product.document_file_name.blank? and current_user.purchased_product?(@product.id) %>
			<p><%= button_to t('.download_pdf', :default => "Download"),
	                document_download_product_path(@product), :action => :document_download, :class => "btn btn-success btn-small" %></p><% end %>
		<% else %>
    		<%= link_to 'Download', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
		<% end %>
				</div>
			</div></br></br>
		</div>
	</div>
  <% end %>
<% else %>
	<% if @products.count == 1 %>
	
	<h3>Checkout</h3>

	<div class="container-fluid">
		<div class="row" >
			<div class="col-md-12" >
				<div class="col-md-3" >
					<% @products.each do |product| %>
    				<span><%= image_tag product.avatar.url(:medium, false), style: "float:left;" %></span>

					<article style="text-align:center;">
					<%= product.title %></br></br>
					<%= number_to_currency(product.price.to_f/100, unit: "€", separator: ".", delimiter: " ", format: "%n %u") %></br>
						 <%= render partial: "visitors/purchase", locals: { :product => product } %>
					</article>
					<% end %>
    			</div>

			</div></br></br>
		</div>
	</div>
	
	<% else %>
  		<h3>Join us: select your membership</h3>

		<div class="container-fluid">
			<div class="row" >
			<% @products.each_slice(4) do |products_for_row| %>
				<div class="col-md-12" >
				<% products_for_row.each do |product| %>
					<div class="col-md-3" >

	    			<%= render product %>

	    			</div>
				<% end %>
				</div></br></br>
			<% end %>
			</div>
		</div>
		<% end %>

<% end %>

