
</br></br>
<!--<span><%= image_tag 'logo_bitcoin_france.png', size: '120x120', style: "align:center;" %></span></br>-->
<span><%= image_tag product.avatar.url(:original) %></span></br></br>
<article style="text-align:center;display: block;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:auto;">
<%= product.title %></br></br>
<%= number_to_currency(product.price.to_f/100, unit: "€", separator: ".", delimiter: " ", format: "%n %u") %></br>
	<% if current_user %>
		<% if current_user.admin? %>
			<%= link_to 'Edit',edit_product_path(product), :class => 'btn btn-primary btn-small' %>
			<%= link_to "Delete", product_path(product), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs btn-danger' %>
		<% end %>
		<%= link_to 'Order',purchase_product_path(product), :class => 'btn btn-primary btn-small' %>
	<% else %>
		<% button_label = product.first_category == "membership" ? 'Sign up' : 'Order' %>
		<%= link_to button_label ,purchase_product_path(product), :class => 'btn btn-primary btn-small' %>
	<% end %>
</article>