<!-- product image + link to trigger modal display -->
<a href="#" data-toggle="modal" data-target="#exampleModal" data-producttitle="<%= product.title %>" data-productprice="<%= product.price %>" data-productdescription="<%= product.description %>" data-productfirstcat="<%= product.first_category %>" data-productsecondcat="<%= product.second_category %>" data-productphotourl="<%= product.avatar.url(:square) %>" >
	<%= image_tag product.avatar.url(:original) %>
</a>

	<!-- Modal -->
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel"><%= product.title %></h4>
	      </div>
	      <div class="modal-body">

	        <form>
			  <img id="product-photo" src="" />
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">Price:</label>
	            <input type="text" class="form-control" id="recipient-name">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">Description:</label>
	            <textarea class="form-control" id="message-text"></textarea>
	          </div>
			  <div class="form-group">
	            <label for="category" class="control-label">Category:</label>
	            <textarea class="form-control" id="category"></textarea>
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>

<!-- product info -->
<article style="text-align:center;display: block;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:auto;">
<%= product.title %></br></br>
<%= number_to_currency(product.price.to_f/100, unit: "€", separator: ".", delimiter: " ", format: "%n %u") %></br>
	<% if current_user %>
		<% if current_user.admin? %>
			<%= link_to 'Edit',edit_product_path(product), :class => 'btn btn-primary btn-small' %>
			<%= link_to "Delete", product_path(product), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs btn-danger' %>
		<% end %>
		<%= link_to 'Order',purchase_product_path(product), :class => 'btn btn-primary btn-small' %>
	<% else %>
		<% button_label = product.first_category == "membership" ? 'Sign up' : 'Order' %>
		<%= link_to button_label ,purchase_product_path(product), :class => 'btn btn-primary btn-small' %>
	<% end %>
</article>
</br></br>